<div class="container">
  <div class="offset-1">
    <h4 class="ml-5 mb-3"><mark class="bg-light">注文情報確認</mark></h4>
  </div>

  <div class="row">
    <div class="col-8">
      <table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_image_id, size:"50x50" %>
                <%= cart_item.item.name %>
              </td>
              <td class="align-middle"><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
              <td class="align-middle"><%= cart_item.amount %></td>
              <td class="align-middle"><%= (cart_item.item.with_tax_price*cart_item.amount).to_s(:delimited) %></td>
             </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-4">
      <table class="table table-bordered">
        <tr>
          <th class="table-secondary">送料</th>
          <td>800</td>
        </tr>
        <tr>
          <th class="table-secondary">商品合計</th>
          <td>
            <% @sum = 0 %>
            <% @cart_items.each do |cart_item| %>
            <% @sum +=  cart_item.subtotal %>
            <% end %>
            <%= @sum.to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <th class="table-secondary">請求合計</th>
          <td><%= (@sum + 800).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-wrap">
        <div><h5><strong>支払方法</strong></h5></div>
        <div class="ml-5"><p><%= @order.payment_method_i18n %></p></div>
      </div>

      <div class="d-flex flex-wrap">
        <div><h5><strong>お届け先</strong></h5></div>
        <div class="ml-5"><p>
          〒<%= @order.postal_code + " " + @order.address %><br>
          <%= @order.name %>
        </p></div>
      </div>
    </div>
  </div>


  <div class="mx-auto" style="width: 200px;">
    <%= form_with model:@order, url:orders_path, method: :post, local: true do |f| %>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %>
      <%= f.hidden_field :postal_code, :value => @order.postal_code %>
      <%= f.hidden_field :address, :value => @order.address %>
      <%= f.hidden_field :name, :value => @order.name %>

      <%= f.submit "注文を確定する", class:"btn btn-success" %>
    <% end %>
  </div>

</div>