<div class="container">
  <div class="col-10">
    <h3><mark class="bg-light">注文履歴一覧</mark></h3>
  </div>
  <div class="col-10">
    <table class="table">
      <thead>
        <tr class="table-secondary">
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to admin_order_path(order), class: "text-dark" do %>
              <u><%= order.created_at.strftime("%Y/%m/%d %H:%M:%S") %></u>
            <% end %>
          </td>
          <td>
            <%= order.customer.full_name %>
          </td>
          <td>
            <%= order.order_details.all.sum(:amount) %>
          </td>
          <td>
            <%= order.status_i18n %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= paginate @orders %>
    </div>
  </div>
</div>