<div class='container'>
  <div class='row'>
    <div class='col-3'>
      <%= render 'genre_search', genres: @genres %>
    </div>
    <div class="col-9">
      <div class="row">
        <div class='col-5'>
          <div class="item-show">
            <%= image_tag @item.get_image_id, size:"300x200" %>
          </div>
        </div>
        <div class="col-6 offset-1 align-items-end flex-column" style="height: 200px;">
          <div>
            <h3><%= @item.name %></h3>
          </div>
          <div>
            <%= @item.introduction %>
          </div>
          <div style="margin-top: 100px;">
            <p><span class="font-weight-bold">￥<%= @item.with_tax_price.to_s(:delimited)  %></span><span class="small">(税込)</span></p>
          </div>
        </div>
      </div>
      <div class="row">
        <% if customer_signed_in? %>
          <div class="col-6" style="margin-left: 50%;">

            <%= form_with model:@cart_item, url: '/cart_items/', method: :post, local:true do |f| %>
            <div class="d-flex flex-wrap justify-content-around">
              <div class="form-group">
                <%= f.hidden_field :item_id, :value => @item.id %>
                <div class="form-group">
                  <%= f.select :amount, [1, 2, 3, 4, 5, 6, 7, 8, 9,  10], include_blank: '個数選択'%>
                </div>
              </div>
              <div class="form-group ml-3">
                <%= f.submit "カートに入れる", class: 'btn btn-sm btn-success' %>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
