<header>
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container">
    <div class="col-2">
      <%= link_to root_path do%>
        <%= image_tag 'logo', size: "100x100", class: "rounded-circle" %>
      <% end %>
    </div>
    <div class="col-10">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li>
              <%= link_to "商品一覧", admin_items_path, class: 'btn btn-outline-dark mx-2' %>
            </li>
            <li>
              <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-outline-dark mx-2' %>
            </li>
            <li>
              <%= link_to "注文履歴一覧", admin_root_path, class: 'btn btn-outline-dark mx-2' %>
            </li>
            <li>
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-outline-dark mx-2' %>
            </li>
            <li>
            <li>
              <%= button_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-dark' %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="text-right my-2">
        <input type="text" size="25" placeholder="Search">
      </div>
    </div>
  </div>
</nav>
</header>