<div class = "container">
  <div class = "col-12 col-md-8" >
    <h3><mark class = "bg-light">配送先登録/一覧</mark></h3>
    <%= form_with model: @address, local: true, method: :post do |f| %>
      <table class = "table table-borderless" >
        <thead>
          <div class = "form-group row font-weight-bold" >
            <%= f.label "郵便番号(ハイフンなし)", class:"mr-0 col-sm-4 col-form-label" %>
            <div class = "col-sm-4" >
              <%= f.text_field :postal_code, placeholder: @customer.postal_code, class:"form-control field_border" %>
            </div>
          </div>
          <div class= "form-group row font-weight-bold" >
            <%= f.label "住所", class:"mr-0 col-sm-4 col-form-label" %>
            <div class = "col-md-8" >
              <%= f.text_field :address, placeholder: @customer.address, class:"form-control field_border" %>
            </div>
          </div>
          <div class = "form-group row font-weight-bold" >
            <%= f.label "宛名", class:"mr-0 col-sm-4 col-form-label" %>
            <div class = "col-md-4" >
              <%= f.text_field :name, placeholder: @customer.full_name, class:"form-control field_border" %>
            </div>
            <div class="ml-5">
              <%= f.submit "新規登録",  class: "btn btn-success" %>
            </div>
          </div>
        </thead>
      </table>
    <% end %>
    <table class="table table-bordered">
      <thead class="table-secondary text-center">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛先</th>
          <th colspan="2"></th>
        </tr>
      </thead>
        <% @addresses.each do |address| %>
          <tr>
            <td style="vertical-align: middle;"><%= address.postal_code %></td>
            <td style="vertical-align: middle;"><%= address.address %></td>
            <td style="vertical-align: middle;"><%= address.name %></td>
            <td class= "d-flex justify-content-between" colspan="2">
              <%= link_to "編集する", edit_address_path(address.id), class:"btn btn-success" %>
              <%= link_to "削除する", address_path(address.id), method: :delete, class:"btn btn-danger" %>
            </td>
          </tr>
        <% end %>
    </table>
  </div>
</div>