<% book.book_comments.each do |book_comment| %>
  <% book_comment_user = book_comment.user %>
  <tr>
  	<td>
  		<%= link_to user_path(book_comment_user), class: "user_#{book_comment_user.id}" do %>
    		<%= attachment_image_tag book_comment_user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %><br>
    		<%= book_comment_user.name %>
  		<% end %>
  	</td>
  	<td><%= book_comment.comment %></td>
  	<% if current_user == book_comment_user %>
    	<td><%= link_to 'Destroy', book_book_comment_path(book_comment.book_id, book_comment.id), class: 'btn-sm btn-danger', method: :delete, remote: true %></td>
  	<% end %>
  </tr>
<% end %>